/* Colors */

/* Flat UI Colors*/
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

/* http://www.flatuicolorpicker.com/ */
$chestnut-rose: #d24d57;
$pomegranate2: #f22613;
$thunderbird: #d91e18;
$old-brick: #96281b;
$flamingo: #ef4836;
$valencia: #d64541;
$tall-poppy: #c0392b;
$monza: #cf000f;
$cinnabar: #e74c3c;
$razzmatazz: #db0a5b;
$sunset-orange: #f64747;
$wax-flower: #f1a9a0;
$cabaret: #d2527f;
$new-york-pink: #e08283;
$radical-red: #f62459;
$sunglo: #e26a6a;
$snuff: #dcc6e0;
$rebecca-purple: #663399;
$honey-flower: #674172;
$wistful: #aea8d3;
$plum: #913d88;
$seance: #9a12b3;
$medium-purple: #bf55ec;
$light-wisteria: #be90d4;
$studio: #8e44ad;
$wisteria2: #9b59b6;
$san-marino: #446cb3;
$alice-blue: #e4f1fe;
$royal-blue: #4183d7;
$picton-blue: #59abe3;
$spray: #81cfe0;
$shakespeare: #52b3d9;
$humming-bird: #c5eff7;
$picton-blue2: #22a7f0;
$curious-blue: #3498db;
$madison: #2c3e50;
$dodger-blue: #19b5fe;
$ming: #336e7b;
$ebony-clay: #22313f;
$malibu: #6bb9f0;
$curious-blue2: #1e8bc3;
$chambray: #3a539b;
$pickled-bluewood: #34495e;
$hoki: #67809f;
$jelly-bean: #2574a9;
$jacksons-purple: #1f3a93;
$jordy-blue: #89c4f4;
$steel-blue: #4b77be;
$fountain-blue: #5c97bf;
$medium-turquoise: #4ecdc4;
$aqua-island: #a2ded0;
$gossip: #87d37c;
$dark-sea-green: #90c695;
$eucalyptus: #26a65b;
$caribbean-grean: #03c9a9;
$silver-tree: #68c3a3;
$downy: #65c6bb;
$mountain-meadow: #1bbc9b;
$light-sea-green: #1ba39c;
$medium-aquamarine: #66cc99;
$turqouise2: #36d7b7;
$madang: #c8f7c5;
$riptide: #86e2d5;
$shamrock: #2ecc71;
$mountain-meadow2: #16a085;
$emerald2: #3fc380;
$green-haze: #019875;
$free-speech-aquamarine: #03a678;
$ocean-green: #4daf7c;
$niagara: #2abb9b;
$jade: #00b16a;
$salem: #1e824c;
$observatory: #049372;
$jungle-green: #26c281;
$cape-honey: #fde3a7;
$california: #f89406;
$fire-bush: #eb9532;
$tahiti-gold: #e87e04;
$casablanca: #f4b350;
$crusta: #f2784b;
$jaffa: #eb974e;
$lightning-yellow: #f5ab35;
$burnt-orange: #d35400;
$butter-cup: #f39c12;
$ecstasy: #f9690e;
$sandstorm: #f9bf3b;
$jaffa2: #f27935;
$zest: #e67e22;
$white-smoke: #ececec;
$lynch: #6c7a89;
$pumice: #d2d7d3;
$gallery: #eee;
$silver-sand: #bdc3c7;
$porcelain: #ecf0f1;
$cascade: #95a5a6;
$iron: #dadfe1;
$edward: #abb7b7;
$carrara: #f2f1ef;
$silver2: #bfbfbf;

/* http://bootflat.github.io/color-picker.html */
$foreign-crimson: #c91f37;
$red-orange: #dc3023;
$cochineal-red: #9d2933;
$brewed-mustard-brown: #e68364;
$scarlet: #cf3a24;
$pure-crimson: #c3272b;
$true-red: #8f1d21;
$one-kin-dye: #f08f90;
$peach-colored: #f47983;
$red-plum-colored: #db5a6b;
$medium-crimson: #c93756;
$cherry-blossom-color: #fcc989;
$washed-out-crimson: #ffb3a7;
$ibis-wing-color: #f58f84;
$wisteria-purple: #875f9a;
$bellflower-color: #5d3f6a;
$wisteria-color: #89729e;
$iris-color: #763568;
$tatarian-aster-color: #8d608c;
$thin-color: #a87ca0;
$violet-color: #5b3256;
$medium-purple: #bf55ec;
$sky-color: #4d8fac;
$ultramarine-color: #5d8cae;
$light-blue-color: #48929b;
$thousand-herb: #317589;
$lapis-lazuli-color: #1f4788;
$navy-blue-color: #003171;
$hanada: #044f67;
$indigo-color: #264348;
$siskin-sprout-yellow: #7a942e;
$young-green-onion: #8db255;
$fresh-onion: #5b8930;
$young-bamboo-color: #6b9362;
$patina: #407a52;
$green-bamboo: #006442;
$jungle-green2: #2abb9b;
$patrinia-flowers: #d9b611;
$amur-cork-tree: #f3c13a;
$ripe-lemon: #f7ca18;
$japanese-triandara-grass: #e2b13c;
$rapeseed-oil-colored: #a17917;
$cream-can: #f5d76e;
$saffron: #f4d05f;
$bright-golden-yellow: #ffa400;
$sumac-dyed: #e08a1e;
$gamboge: #ffb61e;
$corn-colored: #faa945;
$egg-colored: #ffa631;
$floral-leaf-colored: #ffb94e;
$golden-fallen-leaves: #e29c45;
$ecstasy: #f9690e;
$amber: #ca6924;
$lightning-yellow: #f5ab35;
$harbor-rat: #757d75;