<td class="title">{{title}}</td>
<td class="from">{{from.email}}</td>
<td class="date">{{dateTime dateCreated}}</td>
<td class="message-actions">
  <a class="js-delete" href="{{deletePath}}">
    <i class="fa fa-trash"></i>
  </a>
</td>