<table class="messages table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>{{t 'message.title.label'}}</th>
    <th>{{t 'message.from.label'}}</th>
    <th>{{t 'message.dateCreated.label'}}</th>
    <th></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>